.appview-container.css-1wrcr25.egzxvld4{
    background-color: #9FADC6;
}

.css-12ttj6m.epcbefy1{
    border-radius: 20px;
    background-color: #DAE1E7;
    text-align: center;
}

.row-widget.stTextInput.css-10aojw7.edfmue0 > div{
    border-radius: 20px;
}

.row-widget.stTextInput.css-10aojw7.edfmue0 > div > div{   
    background-color: #F5F5F5;
}

.css-1x8cf1d.edgvbvh5{
    width: 20%;
    background-color: #3578DE;
    color:white;
    font: bold;
}

.css-163ttbj.e1fqkh3o11{
    display: none;
}